@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.btn:focus, .btn-close:focus, .btn:active, .btn-close:active {
    box-shadow: none !important;
}

.bg-dark-variant{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card-up-body {
    position: absolute;
    top: 24rem;
    height: 100%;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

.card-up-title {
    position: absolute;
    top: 40%;
    transition: all 400ms cubic-bezier(.86,.33,0,1.35);
    -webkit-transition: all 400ms cubic-bezier(.86,.33,0,1.35);
    -moz-transition: all 400ms cubic-bezier(.86,.33,0,1.35);
    -ms-transition: all 400ms cubic-bezier(.86,.33,0,1.35);
    -o-transition: all 400ms cubic-bezier(.86,.33,0,1.35);
}

.card:hover .card-up-body{
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card:hover .card-up-title{
    top: -50%;
}

pre {
    overflow: auto !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

.card .bg-light {
    color: rgb(24, 24, 24) !important;
}

.square {
    max-width: 20rem;
    height: auto;
}

.circle {

    max-width: 18rem;
    height: 18rem;

    position: absolute;
    inset: 0;

    /*clip-path: circle(50% at 50% 50%);*/

    overflow: hidden;
    
    display: flex;
    align-items: center;
    text-align: center;

    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;

    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

.square:hover .circle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

}

.circle:hover > h1 {
    font-size: 4rem;
}

h1 {
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}

.content-circle{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    inset: 0;
    color: rgba(0, 0, 0, 0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);

    transition: all 250ms cubic-bezier(.39,.64,.66,1.16);
    -webkit-transition: all 250ms cubic-bezier(.39,.64,.66,1.16);
    -moz-transition: all 250ms cubic-bezier(.39,.64,.66,1.16);
    -ms-transition: all 250ms cubic-bezier(.39,.64,.66,1.16);
    -o-transition: all 250ms cubic-bezier(.39,.64,.66,1.16);
}

.square:hover .content-circle {
    color: black;
    transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -moz-transform: translateX(20em);
    -ms-transform: translateX(20em);
    -o-transform: translateX(20em);

}